<nav class="navbar bg-body-tertiary bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="bi bi-house-door-fill text-light"></i>
    </a>
    <a class="btn btn-light text-primary" href="/addProduct"> Add product </a>
  </div>
</nav>
